/* ==== checkbox ==== */

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
    background-color: transparent !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
    background-color: var(--ls-third-theme-color) !important;
    border: var(--background-color) !important;
}

:is(.doing, .todo) > a.block-marker:hover {
    color: var(--ls-secondary-theme-color);
}