/* ==== checkbox ==== */

.white-theme {
    .form-checkbox {
        border: 1.8px solid var(--ls-primary-theme-color) !important;
    }
}

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
    background-color: transparent !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
    background-color: var(--ls-third-theme-color) !important;
    border: var(--background-color) !important;
}