.dark-theme,
html[data-theme=dark] {
    --ls-custom-theme-color: #769AFF;
    --ls-primary-background-color: #232329;
    --ls-secondary-background-color: #2B2B33;

    --ls-code-color: #fff;
    --ls-code-language-color: gray;
    --ls-code-background-color: #34343c;
    --ls-code-selected-background-color: #32445A;

    --ls-bullet-threading-background-color: #34343c;
    --ls-task-done-text-color: gray;
}

.white-theme,
html[data-theme=light] {
    --ls-custom-theme-color: rgb(224, 80, 27);  // Fonts color
    --ls-primary-background-color: #fff;        // Background color
    --ls-secondary-background-color: #ADADAD;   // It has little difference from the background color
    
    --ls-code-color: #fff;
    --ls-code-language-color: gray;
    --ls-code-background-color: #272c35 ;
    --ls-code-selected-background-color: #0a0c0e;

    --ls-bullet-threading-background-color: #E9ECEF;
    --ls-task-done-text-color: gray;
}

// adaptation of upstream interfaces
.dark-theme, .white-theme, 
html[data-theme=dark], html[data-theme=light]  {
    --ct-primary-color: var(--ls-custom-theme-color);
    --ct-secondary-color: var(--ls-custom-theme-color);
    --ct-header-bg-color: var(--ls-primary-background-color);
    --code-lang-color: var(--ls-code-language-color);

    --ls-secondary-theme-color: var(--ls-custom-theme-color);
}