/* ==== embed and quote ==== */

// 引用效果
blockquote {
    background-color: var(--ls-primary-background-color);
    border-left-color: var(--ls-secondary-theme-color);
}

/* 深色主题 */
// 右侧显示效果
.cp__right-sidebar-inner :not(.color-level) .sidebar-item-list > .color-level {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    background-color: var(--embed-right-sidebar-background-color) !important;
}

/* ==== 嵌入效果 ==== */
.embed,
.embed-page,
.embed-block {
    border-radius: 8px;
    transition: all ease-in 0.3s;
}

/* 关闭 logseq-dev-theme 主题嵌入页面的触发效果 */
:is(.embed, .embed-page, .embed-block):is(:hover, :focus-within) {
    box-shadow: none;
    transform: none;
    padding: 0.75em 0.5em;
    margin: 0.5em;
    /* border: 2px solid #38434c; */
    border-radius: 8px;
    transition: all ease-in 0.3s;
}
