:root {
    --ls-font-family: apple-font, common-font, code-font, ui-font, system-ui;
    --ct-code-font-family: code-font, common-font, ui-font, system-ui !important;
}

// 字体参考 https://css-tricks.com/snippets/css/system-font-stack/ 
@font-face {
    font-family: apple-font;
    font-style: normal;
    font-weight: normal;
    src: local("-apple-system"),
        local("BlinkMacSystemFont"),
        url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: common-font;
    src: url("../fonts/Fonts_LXGWWenKaiLite_Regular.ttf") format("TrueType");
        // GitHub 链接不影响本地使用, 如果在网页端使用会存在 CORS 跨越限制
        // url("https://github.com/lxgw/LxgwWenKai-Lite/releases/download/v1.245.1/LXGWWenKaiLite-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: code-font;
    src: local("DejaVuSansMono Nerd Font Mono"),
        url("../fonts/Fonts_DejaVu_Sans_Mono_Nerd_Font_Complete_Mono.ttf") format("TrueType");
}

@font-face {
    font-family: ui-font;
    src: local("Apple Color Emoji"),
        local("Segoe UI Emoji"),
        local("Segoe UI Symbol");
}