/* 左侧菜单栏 */

// 隐藏左侧菜单栏滚动条
.left-sidebar-inner {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}
.left-sidebar-inner ::-webkit-scrollbar {
    display: none;
}

.dark-theme {
     .left-sidebar-inner
    ,  .left-sidebar-inner .create  {
        @include theme_background_color(true);
        background-image: linear-gradient(transparent, var(--background-color)) !important;
    }

    // 收藏页面和最近使用
     .left-sidebar-inner .header {
        background-color: transparent !important;
    }

     .left-sidebar-inner a.item.active
    ,  .left-sidebar-inner a.item:active 
    ,  .left-sidebar-inner ul li:hover
    , .left-sidebar-inner ul li a:hover {
        background-color: transparent !important;
        @include theme_color(true);
    }

     .left-sidebar-inner a.item:hover {
        background-color: transparent !important;
        @include theme_color(true);
        opacity: 0.78;
    }
}