// 主区域滚动条隐藏
// 右上角设置按钮滚动条隐藏
.scrollbar-spacing::-webkit-scrollbar,
.menu-links-wrapper::-webkit-scrollbar {
    display: none;
}
.scrollbar-spacing,
.menu-links-wrapper {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

// 右上角设置操作
.dropdown-wrapper {
    border: none !important;
}
.menu-links-wrapper {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.menu-links-wrapper .menu-separator {
    display: none;
}

// 右侧页面效果
.dark .sidebar-item-list .page-properties, .sidebar-item-list .block-properties {
    background-color: var(--ls-secondary-background-color);
}

// 全部页面-删除按钮
.actions:not(.has-selected) .actions-wrap .ui__button {
    background-color: var(--ls-secondary-background-color) !important;
    display: none;
}
.actions.has-selected .actions-wrap .ui__button {
    background-color: rgba(255, 0, 0, 0.5) !important;
    color: rgb(229, 228, 228, 0.6);
}
.actions.has-selected .actions-wrap .ui__button:hover {
    /* background-color: rgba(255, 0, 0, 0.9) !important; */
    color: rgb(229, 228, 228);
}
// 全部页面-hover效果
.table-auto.cp__all_pages_table tbody a:hover  {
    color: rgb(118, 154, 255, 0.78);
}

// timetracking 样式
.cp__header-logo, .fade-link {
    color: #34343C;
}
.cp__header-logo, .fade-link:hover {
    color: gray;
}
