// 主区域滚动条隐藏
// 右上角设置按钮滚动条隐藏
body[data-page="all-journals"] #main-content-container::-webkit-scrollbar,
body[data-page="home"] #main-content-container::-webkit-scrollbar,
body[data-page="page"] #main-content-container::-webkit-scrollbar,
.menu-links-wrapper::-webkit-scrollbar {
    display: none;
}
body[data-page="all-journals"] #main-content-container
body[data-page="home"] #main-content-container,
body[data-page="page"] #main-content-container,
.menu-links-wrapper {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

// setting shortcut page and other
#main-content-container {
    &::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        @include bordeRadius();
    }
}

// 右上角设置操作
.dropdown-wrapper {
    border: none !important;
}
.menu-links-wrapper {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.menu-links-wrapper .menu-separator {
    display: none;
}

// 右侧页面效果
.sidebar-item-list .page-properties, .sidebar-item-list .block-properties {
    background-color: var(--ls-secondary-background-color);
}
// fix: The right page command overflows the page 
#right-sidebar-container .editor-inner .absolute[data-modal-name="commands"] {
    left: 0px;
}

// === 外部和内部链接样式 ===

// 正文区域
.page-reference {
    &:hover {
        background-color: transparent;
    }
    .page-ref:hover {
        color: var(--ls-custom-theme-color);
    }
}
a.external-link {
    color: var(--ls-custom-theme-color) !important;
}

// 页面属性, 单个 rem 属性
.block-properties.page-properties,
.block-children {
    .page-property-key {
        color: var(--ls-primary-theme-color);
        &:hover {
            background-color: transparent;
            color: var(--ls-custom-theme-color);
        }
    }
    .page-ref {
        color: var(--ls-primary-theme-color);
        &:hover {
            background-color: transparent;
            color: var(--ls-custom-theme-color);
        }
    }
}

// Slash (/), Block content (<), Page reference ([[), Block reference ((()
.editor-inner .absolute[data-modal-name="commands"],
.editor-inner .absolute[data-modal-name="block-commands"],
.editor-inner .absolute[data-modal-name="page-search"],
.editor-inner .absolute[data-modal-name="block-search"]  {
    .ui__ac-group-name {
        color: var(--ls-custom-theme-color);
    }

    #ui__ac-inner div  > a.chosen {
        background-color: var(--ls-secondary-background-color);
    }

    &::-webkit-scrollbar {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        @include bordeRadius();
    }
}

// strong fonts 
b, strong {
    color: var(--ls-custom-theme-color);
    font-weight: 300;
}

// custom h1 h2 h3 h4 h5 title style, just for web
@if ($IS_WEB) {
    .ls-block {
        :is(h1, h2, .h1, .h2) {
            font-size: 18px;
            font-weight: 300;
        }
        :is(h3, h4, h5, .h3, .h4, .h5) {
            font-size: 16px;
            font-weight: 300;
        }
        :is(h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5) {
            &::after {
                background: transparent;
                font-size: 0.55rem;
            }
        }
    }
}
.editor-inner .uniline-block:is(.h1,.h2), 
.ls-block :is(h1,h2) {
    border-bottom: 1px solid var(--ls-secondary-background-color);
}

