/* All Pages Style */

@if $IS_WEB {
    .all-pages-nav > a {
        display: none;
    }
}

// delete button
.actions:not(.has-selected) .actions-wrap .ui__button {
    background-color: transparent;
}
.actions.has-selected .actions-wrap .ui__button {
    color: var(--ls-custom-theme-color);
    &:hover {
        background-color: var(--ls-secondary-background-color);
    }
}

// table style
.table-auto.cp__all_pages_table tbody a  {
    color: var(--ls-custom-theme-color);
}

// more
.cp__sidebar-main-content .menu-links-wrapper .menu-link {
    &:hover {
        color: var(--ls-primary-text-color);
    }
}
// search 
.cp__sidebar-main-content .actions .form-input {
    &:focus {
        box-shadow: 0 0 0 0.8px var(--ls-custom-theme-color);
        border: none;
    }
}

// bug report page
#main-content-container .cp__sidebar-main-content .cp__bug-report-reporter {
    background: var(--ls-secondary-background-color) !important;

    .cp__bug-report-item-button {
        background-color: var(--ls-primary-background-color) !important;
        opacity: 0.7;

        &:hover {
            opacity: unset;
        }
    }
}

// import-existing-notes page
#main-content-container .cp__sidebar-main-content .cp__onboarding-setups {

    .inner-card > article.importer {
        background: var(--ls-secondary-background-color) !important;
    }

    label.action-input {
        background-color: var(--ls-primary-background-color) !important;
        opacity: 0.7;

        &:hover {
            opacity: unset;
        }
    }
}

// =================================================================
.theme-inner.ls-hl-colored {
    button[id="skip-to-main"] {
        background: var(--ls-secondary-background-color);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),0 4px 6px -2px rgba(0, 0, 0, 0.2);
        outline: none;

        &:hover {
            color: var(--ls-custom-theme-color);
        }
    }
}

.ui__notifications-content.enter-done {
    button[type="button"] {
        &:hover {
            color: var(--ls-custom-theme-color);
        }
    }
}

.ui__notifications .notification-area {
    background: var(--ls-secondary-background-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

#app-container {
    .window-controls {
        background: var(--ls-primary-background-color);
    }
}

// right-sidebar
#right-sidebar-container {
    .sidebar-item.content > div > div:first-of-type  {
        padding: unset; 
        margin: unset;
        border: none !important;
    }
}