/* 搜索效果 */

.ui__modal-overlay {
    -webkit-backdrop-filter: blur(8px) brightness(60%); // Safari
    backdrop-filter: blur(8px) brightness(60%);
    background-color: transparent !important;
}
.ui__modal-overlay div {
    background-color: transparent !important;
}

.dark-theme {
    .ls-search {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .ui__modal-panel {
        background-color: var(--ls-primary-background-color);
    }
    input[type=password], input[type=text] {
        background: 0 0 var(--ls-primary-background-color);
    }
    #ui__ac-inner > div a:hover {
        background-color: var(--ls-secondary-background-color);
        color: #fff;
    }

    .ls-search > .search-results-wrap ::-webkit-scrollbar {
        background-color: var(--ls-primary-background-color);
    }

    // 全局上下切换效果（含搜索框）
    .cp__palette-main .chosen, .cp__select-main .chosen {
        background-color: var(--ls-secondary-background-color);
    }
}