/* Tags */

:root {    
    --issues-bug-color: #D46459;
    --issues-enhancement-color: #8A6BEF;
    --issues-question-color: #D3A400;

    --tag-priority-a-color: #000;
    --tag-priority-b-color: #000;
    --tag-priority-c-color: #000;
    --tag-priority-a-background-color: var(--ct-warning-color);
    --tag-priority-b-background-color: var(--ct-highlight-color);
    --tag-priority-c-background-color: #E9ECEF;
}


/* ==== Tags ==== */
// 针对宽屏 标签全部靠右显示
// TODO 后期仅针对特殊标签进行配置
@media screen and (min-width: 640px) {
    a.tag {
        position: relative;
        float: right;
        top: 11%;
    }
}
a.tag {
    border: none;
}
a.tag:hover {
    background-color: rgba(var(--ls-secondary-background-color), .8);
}

// === 优先级样式
a[priority=A]::before,
a.priority[href="#/page/A" i]:before {
  content: "A";
  background: var(--tag-priority-a-background-color);
  border: var(--background);
  color: var(--tag-priority-a-color);
}
a[priority=B]::before,
a.priority[href="#/page/B" i]:before {
  content: "B";
  background: var(--tag-priority-b-background-color);
  border: var(--background);
  color: var(--tag-priority-a-color);
}
a[priority=C]::before,
a.priority[href="#/page/C" i]:before {
  content: "C";
  background: var(--tag-priority-c-background-color);
  border: var(--background);
  color: var(--tag-priority-a-color);
}

// ==== 定制化 TAG 显示
a.tag[data-ref="issues-bug"] {
    content: "bug";
    border: transparent;
    color: var(--issues-bug-color);
}
a.tag[data-ref="issues-enhancement"] {
    content: "enhancement";
    border: transparent;
    color: var(--issues-enhancement-color);
}
a.tag[data-ref="issues-question"] {
    content: "question";
    border: transparent;
    color: var(--issues-question-color);
}