
$IS_WEB: true;
$IS_BULLET_THREADING: true;

@import "./global";

:root {
    --ls-font-family: common-font, code-font, ui-font, system-ui;
    --ct-code-font-family: code-font, common-font, ui-font, system-ui !important;
}

.dark-theme,
html[data-theme=dark] {
    --ls-primary-background-color: #292C3D;
    --ls-secondary-background-color: #2F3344;
    --ls-code-background-color: #333749;
}