@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css");
@import url("https://raw.githubusercontent.com/pengx17/logseq-dev-theme/main/custom.css");
:root {
  --ls-font-family: apple-font, common-font, code-font, ui-font, system-ui;
  --ct-code-font-family: code-font, common-font, ui-font, system-ui !important;
}

@font-face {
  font-family: apple-font;
  font-style: normal;
  font-weight: normal;
  src: local("-apple-system"), local("BlinkMacSystemFont"), url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: common-font;
  src: url("https://docs.unickcheng.cc/static/fonts/Fonts_LXGWWenKaiLite_Regular.ttf") format("TrueType");
}
@font-face {
  font-family: code-font;
  src: local("DejaVuSansMono Nerd Font Mono");
  src: url("https://docs.unickcheng.cc/static/fonts/Fonts_DejaVu_Sans_Mono_Nerd_Font_Complete_Mono.ttf") format("TrueType");
}
@font-face {
  font-family: ui-font;
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol");
}
.dark-theme,
html[data-theme=dark] {
  --ls-primary-background-color: #232329;
  --ls-secondary-background-color: #2B2B33;
  --ls-primary-theme-color: #769AFF;
  --ct-header-bg-color: #232329;
  --ct-secondary-color: #769AFF;
  --ct-primary-color: #769AFF;
}

/* 左侧菜单栏 */
.left-sidebar-inner {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

.left-sidebar-inner ::-webkit-scrollbar {
  display: none;
}

.dark-theme .left-sidebar-inner, .dark-theme .left-sidebar-inner .create {
  background-color: var(--ls-primary-background-color) !important;
  background-image: linear-gradient(transparent, var(--background-color)) !important;
}
.dark-theme .left-sidebar-inner .header {
  background-color: transparent !important;
}
.dark-theme .left-sidebar-inner a.item.active,
.dark-theme .left-sidebar-inner a.item:active,
.dark-theme .left-sidebar-inner ul li:hover,
.dark-theme .left-sidebar-inner ul li a:hover {
  background-color: transparent !important;
  color: var(--ls-primary-theme-color) !important;
}
.dark-theme .left-sidebar-inner a.item:hover {
  background-color: transparent !important;
  color: var(--ls-primary-theme-color) !important;
  opacity: 0.78;
}

/* 搜索效果 */
.dark-theme .ls-search {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.dark-theme .ui__modal-overlay {
  backdrop-filter: blur(8px) brightness(60%);
  background-color: transparent !important;
}
.dark-theme .ui__modal-overlay div {
  background-color: transparent !important;
}
.dark-theme .ui__modal-panel {
  background-color: var(--ls-secondary-background-color);
}
.dark-theme input[type=password], .dark-theme input[type=text] {
  background: 0 0 var(--ls-secondary-background-color);
}

/* ==== 重写代码效果: 浅色主题和深色主题设置一致 ===== */
/* 参考 https://github.com/flowerornament/logseq-simple-parametric-theme */
.CodeMirror, .CodeMirror-scroll, .CodeMirror-sizer {
  font-family: var(--ct-code-font-family);
  box-shadow: none;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -khtml-border-radius: 10px !important;
  border-radius: 10px !important;
}

@media screen and (max-width: 640px) {
  .extensions__code-lang {
    display: none !important;
  }
}
@media screen and (min-width: 640px) {
  .extensions__code-lang {
    background: transparent !important;
    color: gray;
    right: 1%;
    top: 1%;
  }
}

.white-theme .cm-s-solarized div.CodeMirror-selected {
  background: #343841 !important;
  font-weight: bolder !important;
}

.CodeMirror-hscrollbar:not(:hover, :active) {
  opacity: 0.05;
}

.dark-theme .CodeMirror-scroll .CodeMirror-sizer {
  background: #34343c !important;
  color: white !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -khtml-border-radius: 10px !important;
  border-radius: 10px !important;
}
.dark-theme .CodeMirror, .dark-theme .CodeMirror-scroll .CodeMirror-gutters {
  background: #34343c !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -khtml-border-radius: 10px !important;
  border-radius: 10px !important;
}
.dark-theme .cm-s-solarized div.CodeMirror-selected {
  background: #32445A !important;
  font-weight: bolder !important;
}

.cm-s-solarized.cm-s-light {
  background: #272c35 !important;
  color: white !important;
  border: 0.5px solid #404b55;
  border-radius: 8px;
}

.cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background: #313942 !important;
  border-radius: 10px !important;
}

.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
  text-shadow: none !important;
}

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light .CodeMirror-linenumber {
  text-shadow: none !important;
  color: #5e5c5c !important;
}

.cm-s-solarized .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #5bdf66 !important;
}

.cm-s-solarized span.cm-comment {
  color: #a0a0a0;
}

.cm-s-solarized span.cm-string,
.cm-s-solarized span.cm-string-2 {
  color: #e6c963;
}

.cm-s-solarized span.cm-number {
  color: #978ade;
}

.cm-s-solarized span.cm-variable {
  color: #82aaff;
}

.cm-s-solarized span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}

.cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}

.cm-s-solarized span.cm-operator {
  color: #f15f60;
}

.cm-s-solarized span.cm-keyword {
  color: #f15f60;
}

.cm-s-solarized span.cm-atom {
  color: #978ade;
}

.cm-s-solarized span.cm-meta {
  color: white;
}

.cm-s-solarized span.cm-tag {
  color: #f07178;
}

.cm-s-solarized span.cm-attribute {
  color: #c792ea;
}

.cm-s-solarized span.cm-qualifier {
  color: #41b394;
}

.cm-s-solarized span.cm-property {
  color: #9bd174;
}

.cm-s-solarized span.cm-builtin {
  color: #45add6;
}

.cm-s-solarized span.cm-variable-3,
.cm-s-solarized span.cm-type {
  color: orange;
}

.white-theme .cm-s-solarized span.cm-string,
.white-theme .cm-s-solarized span.cm-string-2 {
  color: orange;
}

.white-theme .cm-s-solarized span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}

.white-theme .cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}

.white-theme .cm-s-solarized span.cm-meta {
  color: var(--ls-secondary-text-color);
}

/* ==== checkbox ==== */
.white-theme .form-checkbox {
  border: 1.8px solid #313942 !important;
}

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
  background-color: transparent !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
  background-color: gray !important;
  border: var(--background-color) !important;
}

.dark-theme,
html[data-theme=dark] {
  --ls-primary-background-color: #232329;
  --ls-secondary-background-color: #2B2B33;
  --ls-primary-theme-color: #769AFF;
  --ct-header-bg-color: #232329;
  --ct-secondary-color: #769AFF;
  --ct-primary-color: #769AFF;
}

:root {
  --tag-background-color-hover-dark: #313942;
  --tag-background-color-hover-light: #F8F9FA;
  --issues-bug-color: #D46459;
  --issues-enhancement-color: #8A6BEF;
  --issues-question-color: #D3A400;
}

/* ==== Tags ==== */
@media screen and (min-width: 640px) {
  a.tag {
    position: relative;
    float: right;
    top: 11%;
  }
}
a.tag {
  border: none;
}

a.tag:hover {
  background-color: var(--tag-background-color-hover-dark);
}

.white-theme a.tag:hover {
  background-color: var(--tag-background-color-hover-light);
}

a[priority=A]::before,
a.priority[href="#/page/A" i]:before {
  content: "A";
  background: var(--ct-warning-color);
  border: var(--background);
  color: #000;
}

a[priority=B]::before,
a.priority[href="#/page/B" i]:before {
  content: "B";
  background: var(--ct-highlight-color);
  border: var(--background);
  color: #000;
}

a[priority=C]::before,
a.priority[href="#/page/C" i]:before {
  content: "C";
  background: #E9ECEF;
  border: var(--background);
  color: #000;
}

a.tag[data-ref=issues-bug] {
  content: "bug";
  border: transparent;
  color: var(--issues-bug-color);
}

a.tag[data-ref=issues-enhancement] {
  content: "enhancement";
  border: transparent;
  color: var(--issues-enhancement-color);
}

a.tag[data-ref=issues-question] {
  content: "question";
  border: transparent;
  color: var(--issues-question-color);
}

/* ==== 引用效果 ==== */
blockquote {
  background-color: var(--ls-primary-background-color) !important;
}

/* 深色主题 */
.cp__right-sidebar-inner :not(.color-level) .sidebar-item-list > .color-level {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  background-color: var(--ls-primary-background-color) !important;
}

/* 浅色主题 */
.white-theme :not(.color-level) .color-level {
  box-shadow: none;
  border: 2px solid #E9ECEF;
  background-color: #FFFFFF;
}

/* ==== 嵌入效果 ==== */
.embed,
.embed-page,
.embed-block {
  border-radius: 8px;
  transition: all ease-in 0.3s;
}

/* 关闭 logseq-dev-theme 主题嵌入页面的触发效果 */
:is(.embed, .embed-page, .embed-block):is(:hover, :focus-within) {
  box-shadow: none;
  transform: none;
  padding: 0.75em 0.5em;
  margin: 0.5em;
  /* border: 2px solid #38434c; */
  border-radius: 8px;
  transition: all ease-in 0.3s;
}

/* ==== 图谱设置 ==== */
.graph-filters {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: none;
}
.graph-filters li:not(:last-of-type) {
  border-bottom: none;
}

.dark-theme .graph-filters {
  background-color: var(--ls-secondary-background-color);
}

.white-theme .graph-filters {
  background-color: #fff;
}

/* query model */
.query-title {
  background-color: transparent;
}

:not(.color-level) .color-level,
.custom-query > div:first-child {
  box-shadow: none;
  border-radius: 10px !important;
  border: 2px solid #34343C !important;
  background-color: var(--ls-primary-background-color) !important;
}

.custom-query .lazy-visibility :not(.color-level) .color-level {
  box-shadow: none;
  border-radius: 10px !important;
  border: 2px solid #34343C !important;
}

.custom-query > div,
.dark-theme .table-auto > tbody > tr.cursor,
.white-theme .table-auto > tbody > tr.cursor {
  background-color: transparent !important;
}

.dark-theme .table-auto > tbody > tr.cursor:hover {
  background-color: var(--ls-secondary-background-color) !important;
}

.white-theme .table-auto > tbody > tr.cursor:hover {
  background-color: #E9ECEF !important;
}

.scrollbar-spacing::-webkit-scrollbar,
.menu-links-wrapper::-webkit-scrollbar {
  display: none;
}

.scrollbar-spacing,
.menu-links-wrapper {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-wrapper {
  border: none !important;
}

.menu-links-wrapper {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.menu-links-wrapper .menu-separator {
  display: none;
}

.dark .sidebar-item-list .page-properties, .sidebar-item-list .block-properties {
  background-color: var(--ls-secondary-background-color);
}

.actions:not(.has-selected) .actions-wrap .ui__button {
  background-color: var(--ls-secondary-background-color) !important;
  display: none;
}

.actions.has-selected .actions-wrap .ui__button {
  background-color: rgba(255, 0, 0, 0.5) !important;
  color: rgba(229, 228, 228, 0.6);
}

.actions.has-selected .actions-wrap .ui__button:hover {
  /* background-color: rgba(255, 0, 0, 0.9) !important; */
  color: rgb(229, 228, 228);
}

.table-auto.cp__all_pages_table tbody a:hover {
  color: rgba(118, 154, 255, 0.78);
}

.cp__header-logo, .fade-link {
  color: #34343C;
}

.cp__header-logo, .fade-link:hover {
  color: gray;
}

.all-pages-nav > a {
  display: none;
}
